<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leeinwon.studylink.mapper.NoteMapper">

    <insert id="insert">
        insert into notes (title, content) values(#{title}, #{content})
    </insert>

    <select id="selectAll" resultType="org.leeinwon.studylink.domain.NoteVO">
        select * from notes order by id asc;
    </select>

    <select id="selectOne" resultType="org.leeinwon.studylink.domain.NoteVO">
        select * from notes where id = #{id}
    </select>

    <delete id="delete">
        delete from notes where id = #{id}
    </delete>
</mapper>